* {
  color: white;
}

.active  {
  background-color: rgb(70, 70, 70);
  color: white;
}

header {
  background-color: rgb(15, 15, 15);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "logo nav social";
}

nav {
  grid-area: nav;
  justify-self: center;
}

nav ul li {
  display: inline-block;
}

nav a {
  display: block;
  width: 60px;
  text-align: center;
  padding: 20px;
  font-size: 14pt;
  text-decoration: none;
  transition: .2s;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.mainmenu > li:hover a {
  background-color: rgb(70, 70, 70);
}

nav ul ul {
  position: absolute;
  display: block;
  background-color: rgb(15, 15, 15);
  transform: scaleY(0);
  transform-origin: 0 0;
  transition: 0.4s;
  z-index: 10;
}

nav ul li:hover > ul {
  transform: scaleY(1);
}

nav ul ul li {
  min-width: 150px;
  float: none;
  display: list-item;
  position: relative;
  font-size: 14pt;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.2s;
}

nav ul ul li:hover {
  cursor: pointer;
  background-color: rgb(70, 70, 70);
}

.logo img {
  width: 40px;
  float: left;
  /* margin-top: 7px; */
}

.logo h1 {
  margin: 0;
  padding: 0;
}

.logo {
  width: 150px;
  position: relative;
  margin: 5px 10px;
  box-sizing: border-box;
  grid-area: logo;
  justify-self: start;
  align-self: center;
}

.social {
  margin-right: 10px;
  grid-area: social;
  justify-self: end;
  align-self: center;
}

.social i{
  font-size: 25px;
  padding: 5px;
  transition: .2s;
}

.social i.fa-vk:hover {
  color: #5a83af;
}

.social i.fa-instagram:hover {
  background: linear-gradient(to top right, #FFDC80, #F77737, #E1306C, #C13584, #833AB4, #5851DB);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social i.fa-github:hover {
  color: rgb(190, 189, 189);
}

@media (max-width: 710px)
{
  .logo {
    display: none;
  }

  .social {
    display: none;
  }

  header {
    grid-template-columns: 1fr;
    grid-template-areas: "nav";
  }
}