.links, p {
  text-align: center;
}

.links {
  padding-top: 10px;
}

.links a {
  margin: 10px;
  color: white;
}

p {
  padding: 10px;
  color: white;
  margin: 0;
}

footer {
  background-color: rgb(15, 15, 15);
  /* border-top: 1px solid white;
  box-sizing: border-box; */
}