.description h2 {
  text-align: center;
  margin-top: -10%;
}

.description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.black-white {
  background-color: rgb(15, 15, 15); 
  color: white;
  border-top: 1px solid white;
}

.text {
  align-self: center; 
  padding: 0 100px ;
}

.text p { 
  margin: 0;
  text-align: justify;
}

.description img {
  width: 100%;
}

.lorem {
  padding: 25px 20%;
  text-align: justify;
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/9b/f0/aa/9bf0aa06a62e2ed6ba930ef6dd86d2bd.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.7) inset;
  color: white;
}

.banner {
  display: grid;
  width: 100%;
  padding: 50px 0;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}

.achievement { 
  text-align: center;
  font-size: 25px;
  color: white
}

.achievement i {
  font-size: 100px;
  color: rgb(221, 76, 76);
  text-shadow: 0px 0 10px rgba(255, 255, 255, 0.4);
}

.contacts {
  padding: 10px 100px;
  /* line-height: 0.5; */
}

.contacts h2 {
  text-align: center;
  font-size: 40px;
}

.contacts span {
  font-size: 40px;
  float: right;
}

.contacts p {
  font-size: 20px;
}

.feedback {
  width: 400px;
  margin: 0 auto 20px;
}

.feedback input, .feedback textarea {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  font-size: 1.1rem;
  box-sizing: border-box;
}








@media(max-width: 1024px) {
  .description{
    grid-template-columns: 1fr;
    grid-gap: 25px;
    justify-items: center;
    padding: 0 0 50px 0;
  }

  .description h2 {
    margin-top: 25px;
  }

  .description img {
    width: 70%;
  }

  .second img {
    grid-row-start: 2;
  }

  .banner {
    grid-template-rows: repeat(2, 150px);
  }

  .banner:last-child {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 3;
  }

  .contacts {
    text-align: center;
  }

  .contacts span {
    float: none;
  }
}

@media(max-width: 550px) {
  .contacts span {
    font-size: 30px;
  }
}