*{
  /* font-family: 'Maven Pro', sans-serif; */
  color: white;
}

.mainGrid {
  display: grid;
  grid-template-columns: minmax(500px, 1fr);
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.selected {
  display: block;
  fill: rgb(219, 255, 241);
}

.notSelected {
  display: block;
  fill: rgb(10, 177, 110);
}

#wrapper {
  background-image: url('https://img1.badfon.ru/original/2048x1367/c/a7/kenji-yamamura-photographer-7626.jpg');
  background-size: cover;
  background-position: center;
  height: 700px;
}
#fade {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}
h1 {
 text-align: center;
 padding-top: 150px;
 margin: 0;
 font-size: 30pt;
}
.content {
  padding: 30px 40px;
  background-image: url('src/assets/sayagata-400px.png');
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5) inset;
}

#review {
  padding: 30px 50px;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.7) inset;
  background-size: cover;
  background-position: center;
  position: relative;
  grid-area: review;
}

#map {
  align-self: center;
  position: relative;
  grid-area: map;
}

svg {
  position: absolute;
  left: 0;
  z-index: 9;
}

path {
  cursor: pointer;
  transition: 0.3s;
}

path:hover {
  fill: rgb(255, 255, 255);
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "review map"
                        ; 
}

@media (max-width: 940px)
{
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "review"
                          "map"; 
    grid-gap: 10px;
  }
}

#map img {
  width: 100%;
  margin: auto 0;
}

#review p {
  margin: 0 0 10px 0;
  font-size: 14pt;
}

.btn1 {
  display: block;
  width: 75px;
  text-align: center; 
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-weight: 800;
}

a span {
  color: black;
  transition: .3s;
}

a:hover span {
  color: white;
}

a.btn1 {
  transition: 0.4s;
  text-decoration: none;
}

.btn1:hover {
  background: none;
}












.Sapporo {
  background-image: url('src/assets/images/sapporo.jpg');
}

.Tokyo {
  background-image: url('src/assets/images/tokyo.jpg');
}

.Nagoya {
  background-image: url('src/assets/images/nagoya.jpg')
}

.Osaka {
  background-image: url('src/assets/images/osaka.jpg')
}

.Yokohama {
  background-image: url('src/assets/images/yokohama.jpg')
}

.Kyoto {
  background-image: url('src/assets/images/kyoto.jpg')
}

.Nara {
  background-image: url('src/assets/images/nara.jpg')
}

.Ise {
  background-image: url('src/assets/images/ise.jpg')
}

.Hiroshima {
  background-image: url('src/assets/images/hirosima.jpg')
}

.Niigata {
  background-image: url('src/assets/images/niigata.jpg')
}