<div class="wrapper">
  <main>
    <h2>Виды виз: </h2>
    <article class="cards">
      <div class="card">
        <h2>Транзитная виза</h2>
        <p>Она непременно должна иметься у тех лиц, которые летят в определенную третью страну с пересадкой в Японии. Обычно это касается путешествий в те государства, куда не предусмотрено прямых беспересадочных перелетов (например, в Австралию или Новую Зеландию). Такая виза дает возможность не только находиться в аэропорту Токио, но и выходить за его пределы, чтобы осмотреть город и окрестности. Срок действия такого рода визы – трое суток.</p>
      </div>
      <div class="card">
        <h2>Туристическая виза</h2>
        <p>Cамая распространенная разновидность. Именно за таким типом выездных документов обращается большинство заявителей.</p>
      </div>

      <div class="card">
        <h2>Рабочая виза</h2>
        <p>Чтобы претендовать на ее получение, требуется иметь официальный договор с работодателем на территории Японии. Несмотря на то, что в Японии постоянно наблюдается недостаток рабочей силы, правительство страны не приветствует привлечение иностранцев в качестве трудовых мигрантов. Поэтому обрести визу такого типа чаще всего бывает очень сложно.</p>
      </div>

      <div class="card">
        <h2>Студенческая виза</h2>
        <p>Выдается гражданам иностранных государств, которые хотят получить высшее образование на территории Японии. Условия для иностранных студентов, которым удастся поступить в японский вуз, очень хорошие: правительство страны даже оплачивает таким гражданам авиабилеты в Японию и предоставляет неплохую стипендию, вполне достаточную для комфортного и безбедного существования. Кроме того, студенческая виза дает возможность по окончанию вуза остаться на работу в Японии.</p>
      </div>
    </article>

    <article class="demands">
      <h2>Требуемые документы</h2>
      <ul>
        <li><i class="fas fa-check-square"></i> Загранпаспорт со сроком действия не менее полугода на момент окончания путешествия</li>
        <li><i class="fas fa-check-square"></i> Ксерокопия страницы загранпаспорта с личными данными</li>
        <li><i class="fas fa-check-square"></i> Копия страниц с информацией общегражданского паспорта</li>
        <li><i class="fas fa-check-square"></i> Две фотографии. Требования к фото в данном случае не совсем стандартные. Снимки должны быть не традиционного формата 3,5*4,5, а квадратной формы размером 4,5*4,5. Фотографии должны быть сделаны не ранее, чем за полгода до момента подачи заявления.</li>
        <li><i class="fas fa-check-square"></i> Заполненная по всем правилам анкета в двух экземплярах. Бланк анкеты можно скачать <a href="https://nuzhnaviza.ru/docs/japan.pdf"> по этой ссылке</a>, образец заполнения доступен <a href="https://nuzhnaviza.ru/docs/japan_obrazec.pdf">тут</a>. Обратите внимание, что анкету нужно заполнять строго на английском языке и ни на каком другом.</li>
        <li><i class="fas fa-check-square"></i> Оригинальная справка с постоянного места работы заявителя, выполненная на фирменном бланке с указанием занимаемой должности и заработной платы</li>
        <li><i class="fas fa-check-square"></i> Оригиналы авиабилетов в оба конца</li>
        <li><i class="fas fa-check-square"></i> Спонсорское письмо (для временно не работающих граждан, студентов, школьников, пенсионеров, домохозяек и всех остальных граждан, которые не могут предоставить справку с места работы)</li>
        <li><i class="fas fa-check-square"></i> Студентам также необходимо предъявить копию своего студенческого билета и справку из деканата, школьникам – справку из школы, лицам пенсионного возраста – копию пенсионного удостоверения</li>
        <li><i class="fas fa-check-square"></i> Транзитная виза третьей страны (в том случае, если вы планируете путешествовать транзитом)</li>
      </ul>
    </article>
  </main>
</div>