<main>
  <div class="grid">
    <div id="cards">
      <div class="card" id="history">
        <a routerLink="/culture/history">
          <h3>History</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur cum aliquid optio totam iure dolorum similique quidem, minus porro, quia ab eveniet dolorem ipsum ducimus possimus, repellendus eos cumque dolores.</p>
        </a>
      </div> 
      
      <div class="card" id="traditions">
        <a href="#">
          <h3>Traditions</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti odit harum explicabo placeat similique reprehenderit ut dolor quo, voluptatem aut, provident deserunt id dolorem tempore neque facilis, non illo perferendis.</p>
        </a>
      </div> 
      
      <div class="card" id="war">
        <a href="#">
          <h3>Military art</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis officiis quisquam beatae iusto sit voluptate suscipit perspiciatis illum aperiam quidem sint repudiandae voluptatem odit, consectetur a asperiores labore, velit deleniti.</p>
        </a>
      </div> 

      <router-outlet></router-outlet>
    </div>
  </div>
</main>