main {
  padding: 50px 20%;
  height: 100%;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-auto-rows: minmax(100px, 30%);
  grid-gap: 1px;
  grid-template-areas: "mainNews mainNews news1"
                       "mainNews mainNews news2"  
                       "news3 news4 news5";
}

.mainNews:hover, .news:hover {
  box-shadow: 0px 0px 0 1000px rgb(112, 255, 224) inset;
}

.mainNews {
  position: relative;
  padding: 0px;
  border: 1px solid #333;
  grid-area: mainNews;
  color: white;
  transition: 0.3s;
}

.img {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5) inset;
}

.mainNews img, .news img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -2;
}

.mainNews p {
  left: 20px;
  z-index: 2;
}

.mainNews span {
  font-size: 20pt;
  font-weight: 900;
}

.news {
  position: relative;
  padding: 0px;
  transition: 0.3s;
  color: white;
}

.news p {
  left: 10px;
  right: 10px;
}

.news span {
  font-size: 14pt;
  font-weight: 900;
  /* line-height: 1.5; */
}

p {
  position: absolute;
  z-index: 2;
}

a {
  text-decoration: none;
  color: white;
}






.news1 {
  grid-area: news1;
}

.news2 {
  grid-area: news2;
}
.news3 {
  grid-area: news3;
}
.news4 {
  grid-area: news4;
}
.news5 {
  grid-area: news5;
}

@media(max-width: 1024px){
  main {
    padding: 50px 5%;
  }
}