main {
  min-height: 100vh;
  padding: 0 75px 60px;
  position: relative;
  overflow: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "aside main";
  background-image: url('src/assets/sayagata-400px.png');
  background-attachment: fixed;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

nav ul li {
  list-style: none;
}

nav {
  position: sticky; 
  top: 0
}

ul {
  padding: 0;
  margin: 0;
}

ul ul {
  padding-inline-start: 30px;
}

li {
  color: white;
  display: block;
  transition: 0.2s;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  font-size: 14pt;
}

li:hover span, li li:hover  {
  background-color: rgb(60, 60, 60);
  cursor: pointer;
}

li li {
  padding: 5px;
  border-left: none;
  border-bottom: none;
  font-size: 12pt;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
}

span {
  display: block;
  padding: 10px;
}

aside {
  background-color: rgb(30, 30, 30);
  min-height: 100vh;
  z-index: 10;
  transition: 0.5s;
}

main h1,h2 {
  text-align: center;
}

.clear {
  clear: both;
}

.text p {
  text-align: justify;
  font-size: 14pt;
  margin: 0;
  width: 100%;
  line-height: 1.5;
} 

.text span {
  text-align: center;
  margin: 0 auto;
  max-width: 300px;
  font-size: 12pt;
  padding: 0;
}

table {
  margin: 0 auto;
  width: 100%;
  overflow: auto;
}

td > img {
  max-width: 100% !important;
}

.text img {
  max-width: 300px;
  max-height: 300px;
  text-align: center;
  padding: 20px 20px 10px;
  box-sizing: border-box;
  display: block;
  margin: auto;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.sidemenu {
  display: none;
  width: 30px;
  height: 30px;
  background-color: rgba(30, 30, 30, 0.7);
  position: absolute;
  right: -35px;
  top: 5px;  
  border: 1px solid black;
  text-decoration: none;
  color: white;
}

.sidemenu span::after,
.sidemenu span::before,
.sidemenu span {
  padding: 0;
  width: 20px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
}

.sidemenu span::after,
.sidemenu span::before {
  content: '';
  transition: .5s;
}

.sidemenu span::after {
  transform: translateY(5px);
}
.sidemenu span::before {
  transform: translateY(-5px);
}

.active span:before {
  transform: rotate(45deg);
}
.active span:after {
  transform: rotate(-45deg);
}
.active span {
  height: 0;
}


.toggle {
  transform: translate(-100%);
}

@media(max-width: 640px) {

  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "aside main";
  }

  aside {
    grid-column: 1 / 5;
  }

  main {
    grid-column: 1 / end;
  }

  .sidemenu {
    display: block;
  }

  li li a {
    line-height: 30px;
  }

  main {
    padding: 0 30px 20px;
  }
}